
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: stretch; 
    padding: 0;
    height: 100vh; 
}

.screen {
    background: #333;
    width: 100%;
    height: 100dvh;
    border: none;
    border-radius: 0;
    overflow: auto;
    box-shadow: none;
    display: flex;
    flex-direction: column;
}

.screen-header {
    background-color: #37474f;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
    flex-shrink: 0;
}

.screen-body {
    padding: 15px;
    flex-grow: 1;
}
        
.movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.movie-card {
    background: #555;
    height: 180px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    border: 1px solid #263238;
}
.movie-card a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.poster {
    width: 80%;
    height: 80%;
    background: #aaa;
    border-radius: 4px;
    margin-bottom: 5px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 10px 10px;
}

.actions a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200px;
    color: white;
}

.btn {
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn-confirm {
    background-color: #37474f;
    color: white;
}

.btn-confirm:hover { 
    background-color: #263238; 

}

.btn-back {
    background-color: #555;
    color: white;
}

.btn-back:hover { 
    background-color: #333; 
}
