
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.screen {
    background: white;
    width: 320px; 
    border: 2px solid #37474f;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.screen-header {
    background-color: #263238;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.screen-body {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.movie-info {
    display: flex;
    gap: 15px;
    background: white;
    padding: 10px;
    border-radius: 8px;
}
.movie-thumb {
    width: 60px;
    height: 90px;
    background: #ccc;
    border-radius: 4px;
}
.info-text h4 {
    margin-top: 0;
    font-size: 1.1rem;
    color: #333;
}
.info-text p {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.showtime-list button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #37474f;
    color: #37474f;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}
.showtime-list a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200px;
    color: black;
}
.showtime-list button:hover {
    background: #263238;
    color: white;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px 20px 20px;
}

.actions a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200px;
    color: white;
}

.btn {
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn-confirm {
    background-color: #37474f;
    color: white;
}
.btn-confirm:hover { 
    background-color: #263238; 

}

.btn-back {
    background-color: #555;
    color: white;
}
.btn-back:hover { 
    background-color: #333;
    color: #f0f2f5; 
}
