
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.screen {
    background: white;
    width: 320px; 
    border: 2px solid #37474f;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.screen-header {
    background-color: #37474f;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.screen-body {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ticket {
    width: 100%;
    border: 2px dashed #ccc;
    padding: 20px;
    background: #fff;
    margin: 15px 0;
    border-radius: 8px;
}
.ticket h3 {
    color: #333;
    margin-bottom: 5px;
}
.ticket-details {
    text-align: left;
    font-size: 13px;
    color: #555;
    margin: 10px 0;
}

.qr-placeholder {
    width: 120px;
    height: 120px;
    background: #333;
    margin: 15px auto;
    display: grid;
    place-items: center;
    color: white;
    font-size: 10px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px 20px 20px;
}

.actions a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200px;
    color: white;
}

.btn {
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

.btn-confirm {
    background-color: #37474f;
    color: white;
}

.btn-confirm:hover { 
    background-color: #263238; 

}

.btn-back {
    background-color: #555;
    color: white;
}

.btn-back:hover { 
    background-color: #333;
    color: #f0f2f5; 
}